body {
    font-family: 'Poppins', sans-serif;
}

.first-heading {
    text-align: center;
    font-size: 40px;
    font-weight: ;
    color: aliceblue;
}

section {

    text-align: center;
    background: url(donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    padding-top: 70px;
    padding-bottom: 100px;

}



.paragraph-first {
    padding-bottom: 20px;
    color: aliceblue;
}

.donate-button {
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(250, 37, 73);
    color: aliceblue;
    border-radius: 5px;

}