.container {
    display: flex;
    padding-left: 5%;
    font-size: 700;
    box-sizing: border-box;
    align-items: center;

}

.box-1 {
    background-color: rgb(228, 224, 224);
    margin-right: 5%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid blueviolet;
    color: rgb(225, 240, 19);



}

.box-2 {
    background-color: rgb(255, 0, 128);
    margin-right: 5%;
    padding: 5px 5px 5px 5px;
    border-radius: 1px;
    border: 1px solid blueviolet;




}

.box-3 {
    background-color: rgb(217, 255, 0);
    margin-right: 5%;
    padding: 5px 5px 5px 5px;
    border-radius: 1px;
    border: 1px solid blueviolet;



}